<!-- Section Advertisement-Info ---------------------------------------------------------------- -->

<section class="section">
    <div class="container">
        <div class="section-info">
            <h2 class="visually-hidden">Info</h2>
            <div class="text-content">
                <p class="title-section-info">Choose <span class="title-section-info-grey">your story</span>, 
                    making every moment unique. Time is your style, and we reveal it.
                </p>
                <div class="container-link-contact"><a href="#contact-us" class="link-contact">Contact Us</a></div>
            </div>
        </div>
    </div> 
</section>