<link rel="stylesheet" href="../css/catalog.css" />
<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="./img/catalog/watch1-dek 1x, ./img/catalog/watch1-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch1-tablet    1x,
              ./img/catalog/watch1-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog/watch1 1x, ./img/catalog/watch1-2x 2x"
            media="(max-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch1.png"
              alt="watch1"
              width="279"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-price">€500</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="./img/catalog/watch2-dek 1x, ./img/catalog/watch2-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch2-tablet    1x,
              ./img/catalog/watch2-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog/watch2 1x, ./img/catalog/watch2-2x 2x"
            media="(max-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch2.png"
              alt="watch2"
              width="279"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Garmin Marq Athlete</h3>
        <p class="catalog-price">€450</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="./img/catalog/watch3-dek 1x, ./img/catalog/watch3-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch3-tablet    1x,
              ./img/catalog/watch3-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog/watch3 1x, ./img/catalog/watch3-2x 2x"
            media="(max-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch3.png"
              alt="watch3"
              width="279"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Garmin Descent MK1</h3>
        <p class="catalog-price">€680</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="./img/catalog/watch4-dek 1x, ./img/catalog/watch4-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch4-tablet    1x,
              ./img/catalog/watch4-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/catalog/watch4 1x, ./img/catalog/watch4-2x 2x"
            media="(max-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch4.png"
              alt="watch4"
              width="279"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Garmin D2 Delta PX</h3>
        <p class="catalog-price">€380</p>
      </li>
      <li class="catalog-item hidden">
        <picture>
          <source
            srcset="./img/catalog/watch5-dek 1x, ./img/catalog/watch5-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch5-tablet    1x,
              ./img/catalog/watch5-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch5-tablet.png"
              alt="watch5"
              width="208"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">€400</p>
      </li>
      <li class="catalog-item hidden">
        <picture>
          <source
            srcset="./img/catalog/watch6-dek 1x, ./img/catalog/watch6-dek-2x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/catalog/watch6-tablet    1x,
              ./img/catalog/watch6-tablet-2x 2x
            "
            media="(min-width: 768px)"
          />
          <div class="catalog-i">
            <img
              class="image-watch"
              src="./img/catalog/watch6-tablet.png"
              alt="watch6"
              width="208"
            />
          </div>
        </picture>

        <h3 class="catalog-name">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="catalog-price">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
