<!-- Section Footer -->

<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="upper-wrapper">
        <div class="logo-social-wrapper">
          <a href="#home" class="logo-link">watchcharm</a>

          <ul class="social-list">
            <li class="social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                class="footer-social-link"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="footer-social-link"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                class="footer-social-link"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <a class="footer-phone" href="tel:+380960000000">+380 (68) 443-94-26</a>

        <p class="footer-text">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </p>
      </div>

      <div class="middle-wrapper">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item">
              <a href="#about-us" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a href="#catalog" class="nav-link">Catalog</a>
            </li>
            <li class="nav-item"><a href="#sale" class="nav-link">Sale</a></li>
            <li class="nav-item">
              <a href="#reviews" class="nav-link">Reviews</a>
            </li>
            <li class="nav-item">
              <a href="#contact-us" class="nav-link">Contact us</a>
            </li>
          </ul>
        </nav>

        <address class="footer-address">
          1678 s.Pioneer Road Salt Lake City UT 84104
        </address>
      </div>

      <div class="lower-wrapper">
        <p class="footer-rights">
          &copy; 2024 The Watch Spot. All rights reserved.
        </p>

        <ul class="footer-policy">
          <li><a href="#" class="terms">Terms of Service</a></li>
          <li><a href="#" class="policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
