<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a id="home" href="" class="logo">wathcharm</a>
      <ul class="nav-links-container">
        <li class="nav-link-item">
          <a href="" class="nav-link curent">Home</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">About Uc</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">Catalog</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">Sale</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">Reviews</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-link-container">
      <li class="social-link-item">
        <a href="https://www.facebook.com/goITclub/" class="social-link"
          ><svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-facebook" />
          </svg>
        </a>
        <a href="https://www.instagram.com/goitclub/" class="social-link"
          ><svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-instagram" />
          </svg>
        </a>
        <a href="https://www.youtube.com/c/GoIT/" class="social-link"
          ><svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger">
      <svg class="burger-icon">
        <use href="./img/sprite.svg#icon-burger" />
      </svg>
    </button>
  </div>
</header>
