<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a id="home" href="" class="logo">wathcharm</a>
      <ul class="nav-links-container">
        <li class="nav-link-item">
          <a href="#home" class="nav-link cur">Home</a>
        </li>
        <li class="nav-link-item">
          <a href="about-us" class="nav-link">About Us</a>
        </li>
        <li class="nav-link-item">
          <a href="catalog" class="nav-link">Catalog</a>
        </li>
        <li class="nav-link-item">
          <a href="sale" class="nav-link">Sale</a>
        </li>
        <li class="nav-link-item">
          <a href="reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-link-item">
          <a href="contact-us" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="social">
      <ul class="social-links-container">
        <li class="social-link-item">
          <a href="https://www.facebook.com/goITclub" class="social-link">
            <svg class="social-link-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-link-item">
          <a href="https://www.instagram.com/goitclub" class="social-link">
            <svg class="social-link-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-link-item">
          <a href="https://www.youtube.com/c/GoIT" class="social-link">
            <svg class="social-link-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger" type="button">
      <svg class="burger-icon" width="40" height="40">
        <use href="./img/sprite.svg#icon-burger" />
      </svg>
    </button>
  </div>

  <!-- Mob.menu   /is-open/ -->

  <div class="mobile-menu i-open">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close" id="close" aria-label="Close menu">
        <svg class="mobile-menu-close-icon">
          <use href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="mobile-menu-navigation">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-link current" href="#home"> Home </a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-link" href="#about-us"> About us </a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-link" href="#catalog"> Catalog </a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-link" href="#sale"> Sale </a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mob-menu-link" href="#reviews"> Reviews </a>
          </li>
          <li class="mobile-menu-list-item">
            <a class="mobile-menu-link" href="#contact-us"> Contact us </a>
          </li>
        </ul>
      </nav>

      <ul class="mobile-menu-social-links-container">
        <li class="mobile-menu-social-link-item">
          <a
            class="mobile-menu-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="Facebook link"
          >
            <svg class="mobile-menu-social-link-icon" height="18" width="18">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-services-list-item">
          <a
            class="social-services-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="Instagram link"
          >
            <svg class="mobile-menu-social-link-icon" height="18" width="18">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-services-list-item">
          <a
            class="social-services-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="YouTube link"
          >
            <svg class="mobile-menu-social-link-icon" height="18" width="18">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
