<!-- Section Hero -->

<section class="hero" id="hero">
  <div class="container">
    <div class="text-section">
      <div class="hero-text">
        <h1 class="main-title">
          Welcome to our <span class="span-hero">collection</span> of premium
          watches
        </h1>
        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="section-mob section-tab section-desktop">
        <picture>
          <source
            srcset="
              ./img/hero/people-desk1x.png 1x,
              ./img/hero/people-desk2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero/people-tab1x.png 1x,
              ./img/hero/people-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero/people-mob1x.png 1x,
              ./img/hero/people-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/hero/people-mob1x.png" alt="People" />
        </picture>
        <a href="#footer" class="hero-scroll-link">Scroll down</a>
      </div>
    </div>
    <div class="rectangle">
      <picture>
        <source
          srcset="
            ./img/hero/rectangle10-desk1х.jpg 1x,
            ./img/hero/rectangle10-desk2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/rectangle10-tab1x.jpg 1x,
            ./img/hero/rectangle10-tab2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/rectangle10-mob1x.jpg 1x,
            ./img/hero/rectangle10-mob2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/hero/rectangle10-mob1x.jpg" alt="Rectangle10" />
      </picture>
    </div>
  </div>
</section>
