<section class="section reviews" id="reviews">
  <div class="container">
    <div class="reviews-div">
      <h2 class="reviews-headline-two">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-element">
          <img
            srcset="
              ./img/reviews/Ellipse22.png   1x,
              ./img/reviews/Ellipse22x2.png 2x
            "
            src="./img/reviews/Ellipse22.png"
            width="56"
            height="56"
            alt="John Wax"
            class="reviews-img"
          />
          <h3 class="reviews-headline">John Wax</h3>
          <p class="reviews-paragraph">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </li>
        <li class="reviews-element">
          <img
            srcset="
              ./img/reviews/Ellipse21.png   1x,
              ./img/reviews/Ellipse21x2.png 2x
            "
            src="./img/reviews/Ellipse21.png"
            width="56"
            height="56"
            alt="Victoria Romashenko"
            class="reviews-img"
          />
          <h3 class="reviews-headline">Victoria Romashenko</h3>
          <p class="reviews-paragraph">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </li>
        <li class="reviews-element">
          <img
            srcset="
              ./img/reviews/Ellipse23.png   1x,
              ./img/reviews/Ellipse23x2.png 2x
            "
            src="./img/reviews/Ellipse23.png"
            width="56"
            height="56"
            alt="Anastasia Trachuk"
            class="reviews-img"
          />
          <h3 class="reviews-headline">Anastasia Trachuk</h3>
          <p class="reviews-paragraph">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
