<section class="section sale">
  <div class="container">
    <h3 class="sale-title">Sale</h3>
    <ul class="watches-list">
      <li>
        <div class="watch-img-container">
          <img
            srcset="../img/watch-1@1x-min.png, ../img/watch-1@2x-min.png"
            src="../img/watch-1@1x-min.png"
            alt="watch-1"
            class="watch-img"
            width="52"
          />
        </div>
      </li>
      <li>
        <div class="watch-img-container">
          <img
            srcset="../img/watch-2@1x-min.png, ../img/watch-2@2x-min.png"
            src="../img/watch-2@1x-min.png"
            alt="watch-2"
            class="watch-img"
            width="52"
          />
        </div>
      </li>
      <li>
        <div class="watch-img-container">
          <img
            srcset="../img/watch-3@1x-min.png, ../img/watch-3@2x-min.png"
            src="../img/watch-3@1x-min.png"
            alt="watch-3"
            class="watch-img"
            width="52"
          />
        </div>
      </li>
      <li>
        <div class="watch-img-container">
          <img
            srcset="../img/watch-4@1x-min.png, ../img/watch-4@2x-min.png"
            src="../img/watch-4@1x-min.png"
            alt="watch-4"
            class="watch-img"
            width="52"
          />
        </div>
      </li>
    </ul>
    <div class="watch-main">
      <img
        srcset="../img/watch-main@1x-min.png, ../img/watch-main@2x-min.png"
        src="../img/watch-main@1x-min.png"
        alt="watch-main"
        class="watch-main-img"
        width="235"
      />
    </div>
    <div class="sale-info">
        <p class="proper-name"><span class="proper-name-spn">marq®</span>Commander (Gen 2) - Carbon Edition</p>
        <p class="product-tag"Product tag: 706587></p>
        <div class="prise">
            <ul>
                <li><button class="warch-btn" type="button">€1500</button></li>
                <li>€3000</li>
            </ul>
        </div>
        <p class="main-info">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
        <ul class="purpose-list">
            <li class="purpose">Fused carbon fiber </li>
            <li class="purpose">Grade-5 Titanuim</li>
            <li class="purpose">Athlete</li>
            <li class="purpose">Golfer</li>
            <li class="purpose">Commander</li>
            <li class="purpose">Adventurer</li>
        </ul>

    </div>


  </div>
</section>
