<section class="section sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="watch-block">
      <div class="watch-block-inherit">
        <ul class="watches-list">
          <li class="watch-img-container">
            <picture>
              <source srcset="./img/sale-img/watch-1-desk.png  1x,
              ./img/sale-img/watch-1-desk@2x.png  2x" 
              media="(min-width: 1280px)">
              <source srcset="./img/sale-img/watch-1-tab.png  1x,
              ./img/sale-img/watch-1-tab@2x.png  2x" 
              media="(min-width: 768px)">
              <source srcset="../img/sale-img/watch-1-mob.png  1x,
              ./img/sale-img/watch-1-mob@2x.png  2x" 
              media="(max-width: 767px)">
              <img src="./img/sale-img/watch-1-mob.png" alt="watch-1"
              width="52" height="54">
            </picture>
          </li>
          <li class="watch-img-container">
            <picture>
              <source srcset="./img/sale-img/watch-2-desk.png  1x,
              ./img/sale-img/watch-2-desk@2x.png  2x" 
              media="(min-width: 1280px)">
              <source srcset="./img/sale-img/watch-2-tab.png  1x,
              ./img/sale-img/watch-2-tab@2x.png  2x" 
              media="(min-width: 768px)">
              <source srcset="./img/sale-img/watch-2-mob.png  1x,
              ./img/sale-img/watch-2-mob@2x.png  2x" 
              media="(max-width: 767px)">
              <img src="./img/sale-img/watch-2-mob.png" alt="watch-2"
              width="52" height="54">
            </picture>
          
          </li>
          
          <li class="watch-img-container">
            <picture>
              <source srcset="./img/sale-img/watch-3-desk.png  1x,
              ./img/sale-img/watch-3-desk@2x.png  2x" 
              media="(min-width: 1280px)">
              <source srcset="./img/sale-img/watch-3-tab.png  1x,
              ./img/sale-img/watch-3-tab@2x.png  2x" 
              media="(min-width: 768px)">
              <source srcset="./img/sale-img/watch-3-mob.png  1x,
              ./img/sale-img/watch-3-mob@2x.png  2x" 
              media="(max-width: 767px)">
              <img src="./img/sale-img/watch-3-mob.png" alt="watch-3"
              width="52" height="54">
            </picture>
        </li>
        <li class="watch-img-container">
          <picture>
            <source srcset="./img/sale-img/watch-4-desk.png  1x,
            ./img/sale-img/watch-4-desk@2x.png  2x" 
            media="(min-width: 1280px)">
            <source srcset="./img/sale-img/watch-4-tab.png  1x,
            ./img/sale-img/watch-4-tab@2x.png  2x" 
            media="(min-width: 768px)">
            <source srcset="../img/sale-img/watch-4-mob.png  1x,
            ./img/sale-img/watch-4-mob@2x.png  2x" 
            media="(max-width: 767px)">
            <img src="./img/sale-img/watch-4-mob.png" alt="watch-4"
            width="52" height="54">
          </picture>
      </li>
        </ul>
        <div class="watch-main">
          <source srcset="./img/sale-img/watch-main-desk.png  1x,
          ./img/sale-img/watch-main-desk@2x.png  2x" 
          media="(min-width: 1280px)">
          <source srcset="./img/sale-img/watch-main-tab.png  1x,
          ./img/sale-img/watch-main-tab@2x.png  2x" 
          media="(min-width: 768px)">
          <source srcset="./img/sale-img/watch-main-mob.png  1x,
          ./img/sale-img/watch-main-mob@2x.png  2x" 
          media="(max-width: 767px)">
          <img src="./img/sale-img/watch-main-mob.png" alt="watch-main"
          width="235" height="285">
        </picture>
        </div>
      </div>

      <div class="sale-info">
        <p class="proper-name">
          <span class="proper-name-spn">marq® </span>Commander (Gen 2) - Carbon
          Edition
        </p>
        <p class="product-tag">Product tag: 706587</p>

        <ul class="prise">
          <li>€1500</li>
          <li>€3000</li>
        </ul>

        <p class="main-info">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="purpose-list">
          <li class="purpose">Fused carbon fiber</li>
          <li class="purpose">Grade-5 Titanuim</li>
          <li class="purpose">Athlete</li>
          <li class="purpose">Golfer</li>
          <li class="purpose">Commander</li>
          <li class="purpose">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
