/**MOBILE VERSION**/
.hero {
  width: 375px;
  height: 732px;
  padding-top: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  margin-bottom: 30px;
}
.hero-container {
  justify-content: space-between;
  width: 100%;
}
.hero-text {
  height: 206px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}
.main-title {
  width: 335px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  word-wrap: break-word;
}
.span-hero {
  color: #3350e9;
}
.hero-description {
  width: 335px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  word-wrap: break-word;
}
.section {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 155px;
  display: inline-flex;
}
.image-people {
  width: 108px;
  height: 44px;
  position: relative;
}
.hero-scroll-link {
  color: #0c0c0c;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  text-decoration: underline;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-decoration-skip-ink: none;
}
.rectangle {
  width: 335px;
  height: 366px;
  background: linear-gradient(
    0deg,
    rgba(12, 12, 12, 0.2) 0%,
    rgba(12, 12, 12, 0.2) 100%
  );
  border-radius: 30px;
  margin: 0 auto;
}

/**TABLET VERSION**/
@media only screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 900px;
    padding: 80px 32px 0px 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
    display: inline-flex;
    margin-bottom: 40px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero-container {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11px;
    display: inline-block;
  }
  .hero-text {
    width: 557px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
  }

  .main-title {
    width: 557px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    word-wrap: break-word;
  }
  .hero-description {
    width: 480px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    word-wrap: break-word;
  }
  .section {
    padding: 0;
  }
  .section-tab {
    width: 136px;
    height: 260px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 180px;
    padding: 0 !important;
  }
  .image-people {
    width: 136px;
    height: 60px;
    position: relative;
  }
  .hero-scroll-link {
    color: #0c0c0c;
    font-size: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .text-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .rectangle {
    width: 704px;
    height: 520px;
    background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.2) 0%,
      rgba(12, 12, 12, 0.2) 100%
    );
    border-radius: 50px;
  }
}
/**DESKTOP VERSION**/
@media only screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
    height: 889px;
    padding-top: 80px;
    padding-left: 65px;
    padding-right: 65px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    justify-content: flex-start;
    display: inline-flex;
    margin-bottom: 50px;
  }
  .hero-scroll-link {
    color: #0c0c0c;
    font-size: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .hero-scroll-link:hover,
  .hero-scroll-link:focus {
    color: #3350e9;
  }
  .text-section {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 407px;
    display: inline-flex;
  }
  .hero-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
  }
  .main-title {
    color: #0c0c0c;
    font-size: 72px;
    font-weight: 600;
    line-height: 63px;
    width: 597px;
  }
  .hero-description {
    width: 480px;
    color: rgba(12, 12, 12, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .section-desktop {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 189px;
    display: inline-flex;
  }
  .rectangle {
    width: 1150px;
    height: 500px;
    background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.2) 0%,
      rgba(12, 12, 12, 0.2) 100%
    );
    border-radius: 50px;
  }
}
