/**MOBILE VERSION**/
.hero {
  width: 100%;
  padding-top: 60px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.hero-text {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}
.main-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  word-wrap: break-word;
}
.span-hero {
  color: #3350e9;
}
.hero-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  word-wrap: break-word;
}
.section-mob {
  justify-content: space-between;
  display: flex;
  padding: 28px 0;
  align-items: flex-end;
}
.image-people {
  width: 108px;
  height: 44px;
  position: relative;
}
.hero-scroll-link {
  color: #0c0c0c;
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  text-decoration: underline;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-decoration-skip-ink: none;
  display: inline-block;
}
.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #3350e9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rectangle {
  height: 100%;
  object-fit: cover;
  background: linear-gradient(
    0deg,
    rgba(12, 12, 12, 0.2) 0%,
    rgba(12, 12, 12, 0.2) 100%
  );
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
}

/**TABLET VERSION**/
@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
    display: inline-flex;
  }
  .container {
    max-width: 768px;
    padding: 0;
  }
  .hero-text {
    width: 557px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
  }
  .main-title {
    width: 557px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    word-wrap: break-word;
  }
  .hero-description {
    width: 557px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    word-wrap: break-word;
  }
  .section-tab {
    width: 136px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 180px;
    padding: 0;
  }
  .image-people {
    width: 136px;
    height: 60px;
    position: relative;
  }
  .hero-scroll-link {
    color: #0c0c0c;
    font-size: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .hero-scroll-link:hover,
  .hero-scroll-link:focus {
    color: #3350e9;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 40px;
  }
  .rectangle {
    width: 704px;
    height: 520px;
    background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.2) 0%,
      rgba(12, 12, 12, 0.2) 100%
    );
    border-radius: 50px;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .rectangle {
    max-width: 100%;
  }
}
/**DESKTOP VERSION**/
@media only screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    justify-content: flex-start;
    display: inline-flex;
    margin-bottom: 50px;
  }
  .container {
    padding: 0;
  }
  .hero-scroll-link {
    color: #0c0c0c;
    font-size: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .hero-scroll-link:hover,
  .hero-scroll-link:focus {
    color: #3350e9;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-section {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }
  .hero-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
  }
  .main-title {
    min-width: 597px;
    color: #0c0c0c;
    font-size: 72px;
    font-weight: 600;
    line-height: 63px;
  }
  .hero-description {
    max-width: 480px;
    color: rgba(12, 12, 12, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .section-desktop {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 189px;
    display: inline-flex;
  }
  .rectangle {
    width: 1150px;
    height: 500px;
    background: linear-gradient(
      0deg,
      rgba(12, 12, 12, 0.2) 0%,
      rgba(12, 12, 12, 0.2) 100%
    );
    border-radius: 50px;
  }
}
